@import url('https://fonts.googleapis.com/css?family=Roboto');

// Fonts
$medium: 'Roboto';

// Colors
$row-odd: #e4e8e6;
$row-even: #f8f6f4;
$row-hover: #c5c8c6;
$blue: #435667;
$black: #1e1f1f;
$grey: #b4bbc2;